

/* class selector */
.fakeButton {
    color: red;
}

/* generic desceemt selector */
.container2 .fakeButton {
    color: green;
}

/* direct-child selector */
.container > .fakeButton {
    color: aqua;
}

/* "and" selector approach select elements that match multiple selectors */
span#bla.fakeButton {
    background-color: yellow;
}

/* "or" selector approach selects elements that match one or the other selectors */
.container, .container2 {
    margin-top: 24px;
}


/* sibling selector (I think this style of sibling selector only selects the one after the "+" */
.testButton + .fakeButton {
    color: blue;
}

/* "hover" pseudo class selector */
.fakeButton:hover {
    background-color: rgba(0,0,0,0.2);
}

/* Multiple classes, plus selecting the "before" psuedo element */
/* The "before" psuedo element can't be added in HTML (to my knowledge).  It gets 
    created when a selector like this targets it.  */
.fakeButton.calvin::before {
    content: "hello";
    background-color: rgba(0,0,0,0.12);
    padding: 4px;
}

.fakeButton.calvin::after {
    content: "dude";
    background-color: rgba(0,0,0,0.12);
    padding: 4px;
}